.button {
    cursor: pointer;
    padding: 10px;
    font-weight: 600;
    border: .5px solid #ddd;
    color: #2c353d;
    background-color: whitesmoke;
}

.button--action {
    background-color: #30a3f0;
    color: white;
    border-color: #30a3f0;
}